
@model IEnumerable<Cinema.Models.Ticket>

@{
    ViewBag.Title = "Home Page";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Cheap Cinema Tickets Shop !</h2>
                    <p>You are now able to book your tickets for MBO Cinemas, mmCineplexes, Amerin Cineplex, Mega Cineplex Bertam, Emperor Cinemas, Blockbuster Cineplexes and Paragon Cinemas by clicking on the showtime.</p>
                </div>
            </div>
        </div>
        <div class="row">

            @*<div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="images/img_1.jpg" class="fh5co-card-item image-popup">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="images/img_1.jpg" alt="Image" class="img-responsive">
                        </figure>
                        <div class="fh5co-text">
                            <h2>New York, USA</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
                            <p><span class="btn btn-primary">Schedule a Trip</span></p>
                        </div>
                    </a>
                </div>*@
            @foreach (var item in Model)
			{
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="~/TicketInfo/Index/@item.Id" class="fh5co-card-item ">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            @{
								if (String.IsNullOrEmpty(item.ImageUrl))
								{
                                    <img src="~/MyImages/46540507.jpg" alt="Image" class="img-responsive">
								}

								else
								{
                            <img src="~/Upload/Tickets/@item.ImageUrl" alt="Image" class="img-responsive">

								}
                            }
                        </figure>
                        <div class="fh5co-text">
                            <p style="font-family:Tahoma,'B Yekan'">@item.Movie.Name</p>
                            <p style="font-family:Tahoma,'B Yekan'"><span class="btn btn-primary">Explore</span></p>
                        </div>
                    </a>
                </div>

            }

        </div>
    </div>

</div>